<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/style2.css" rel="stylesheet" type="text/css"/>
<style type="text/css">

</style>
<title>Especies en peligro crítico</title>
</head>
<header>
</header>
<body>
<div style="width: 910px; position:relative; margin-left:auto; margin-right:auto;">

<div id="contenedor"></div>
<img src="../imagenes/fondo.png" width="960" height="1280"  alt=""/>

<img src="imagenes/fondo_menu_superior.png" alt="" class="fondo_menu_superior {
 background-imagenes: url(&quot;images/fondo menu superior.png&quot;);
 position: absolute;
 left: 0px;
 top: -3px;
 width: 960px;
 height: 70px;
 z-index: 6;
}
" />

<div class="Inicio menu left">
<div class="menu"></div>
<h4><a href="../index.html">Inicio</a></h4>
</div>
<div class="QuienesSomos menu left">
<h2><a href="voluntariado.html" class="¿Quienes__Somos_ {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 255, 255, 255 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 319px;
 top: 37.705px;
 z-index: 14;
}
">¿Quienes <br/> Somos?</a></h2>
</div>
<div class="¿QueHacerporelPlaneta menu left">
<div class="¿Que__Hacer_por_el_Planeta_ {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 255, 255, 255 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 413px;
 top: 37.705px;
 z-index: 15;
}
"><h4><a href="">¿Que Hacer <br/>
 por el Planeta?</a></h4></div>
 
<div class="HistoriasyNoticias"><a href=""><h2 class="Historias_y_Noticias {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 255, 255, 255 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 541px;
 top: 37.705px;
 z-index: 16;
}
">Historias<br/>y Noticias</a></h2></div>

<div class="NuestraTierra menu left"><h2><a href="Especiesenpeligrocritico.html" class="Nuestra_Tierra {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 254, 254, 254 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 639px;
 top: 37.705px;
 z-index: 17;
}
">Nuestra<br/>Tierra</a></h2></div>

<a href="https://www.facebook.com/WWF?fref=tsf"><img src="imagenes/facebook_logo.png" alt="" class="facebook_logo {
 background-image: url(&quot;imageness/facebook logo.png&quot;);
 position: absolute;
 left: 897px;
 top: 23px;
 width: 27px;
 height: 27px;
 z-index: 7;
}" />

<img src="imagenes/WWF_logo.svg.png" alt="" class="WWF_logo_svg {
 background-image: url(&quot;imagenes/WWF_logo.svg&quot;);
 position: absolute;
 left: 40px;
 top: 0px;
 width: 91px;
 height: 122px;
 z-index: 10;
}
" />

<a href="http://instagram.com/wwf"><img src="imagenes/instagram-logo-png.png" alt="" class="instagram_logo_png {
 background-image: url(&quot;imagenes/instagram-logo-png.png&quot;);
 position: absolute;
 left: 777px;
 top: 22px;
 width: 30px;
 height: 30px;
 z-index: 9;
}
" border="0"></a>

<a href="https://twitter.com/wwf"><img src="imagenes/Twitter_logo_blue.png" alt="" class="Twitter_logo_blue {
 background-image: url(&quot;imagenes/Twitter_logo_blue.png&quot;);
 position: absolute;
 left: 837px;
 top: 24px;
 width: 31px;
 height: 26px;
 z-index: 8;
}
" />

<div class="pasto">
<img src="../imagenes/pasto.png" width="960" height="1280"  alt=""/> </div>

<div class="elefante_">
<img src="../imagenes/elefante.png" width="960" height="1280"  alt=""/> </div>

<div class="Especies_en_Peligro_Crítico"><h2>Especies en Peligro Crítico</h2> </div>

<div class="parrafo1"> <h7>Una vez común en toda África y Asia, el número de elefantes se agotaron gravemente el siglo 19, en gran parte debido al masivo comercio de marfil. Mientras que algunas poblaciones están ahora estables, la caza furtiva y la destrucción del hábitat continúan amenazando la especie.</h7></div>

<div class="El_animal_terrestre_más_grande"> <h2>El animal terrestre más grande</h2></div>

<div class="Las_amenazas_a_los_elefantes"> <h2>Las amenazas a los elefantes</h2></div>


<div class="_1"> <h7>Tanto  los elefantes africanos  y  los elefantes asiáticos  necesitan una gran cantidad de alimentos y de la libertad para sobrevivir. Vagan en pequeñas y grandes manadas de más áreas a veces muy grandes, mientras que el consumo de hasta varios cientos de kilogramos de materia vegetal en un solo día. Elefantes, de hecho, el lugar tan grandes demandas en su propio ambiente que con frecuencia entran en conflicto con las personas que compiten por muchas de las mismas, a menudo escasos, recursos.</h7></div>
<div class="_2"> <h7>La caza furtiva sigue siendo un problema.
Aunque la caza furtiva de elefantes por su marfil ha disminuido desde la prohibición de marfil en todo el mundo 1989, sigue siendo un problema generalizado. Las grandes cantidades de marfil africano, por ejemplo, todavía están encontrando su camino hacia los mercados ilegales de África y más allá. Los elefantes también son asesinados por su carne y pieles. pérdida de hábitat también una preocupación A más amenaza a largo plazo es la reducción del hábitat disponible para los elefantes en la cara de la expansión de las poblaciones humanas. La pérdida de hábitat aislados de muchas poblaciones de elefantes salvajes, con antiguas rutas migratorias cortadas por los asentamientos humanos. pérdida y degradación del hábitat también aumenta enfrentamientos entre los elefantes y la gente, a menudo conduce a muertes en ambos lados.</h7></div>

<a href="Forma_2"></a>

<div class="fotter"></div>
<div class="recuadro2"></div>
<div class="recuadro1"></div>
<div class="recuadro3"></div>
<div class="¿Quienes_somos_ menu left"> <h2>¿Quienes Somos?</h2> </div>
<div class= "Historia menu left"> <h2>Historia</h2> </div>
<div class= "Contatos menu left"> <h2>Contactos</h2> </div>

<div class="Que__hacer_por_el_Planeta"> <h2>¿Qué Hacer por el Planeta?</h2> </div>
<div class="Vida_verde"> <h2>Vida Verde</h2> </div>
<div class="Voluntariado"> <h2><a href="voluntariado.html">Voluntariado</a></h2> 
  </div>
<div class="Donar_a_WWF"> <h2>Donar a WWF</h2> </div>

<div class="Historias__y_Noticias"> <h2>Historias y Noticias</h2> </div>
<div class="Historias"> <h2>Historias</h2> </div>
<div class="Noticias"> <h2>Noticias</h2> </div>
<div class="Videos"> <h2>Videos</h2> </div>
<div class="Nuestra_Tierra_"> <h2>Nuestra Tierra</h2>
</div>
<div class="Especies_en_peligro_critico"> <h2><a href="Especiesenpeligrocritico.html">Especies en Peligro Crítico</a></h2> </div>
<div class="Clima"> <h2>Clima</h2> </div>
<div class="Bosques"> <h2>Bosques</h2> </div>

</div>
</body>
</html>
