<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
<link href="../css/style1.css" rel="stylesheet" type="text/css">
</head>

<div style="width: 910px; position:relative; margin-left:auto; margin-right:auto;">

<div id="contenedor"></div>
<img src="imagenes/fondo.png" width="960" height="1280"  alt=""/>

<img src="../imagenes/fondo_menu_superior.png" alt="" class="fondo_menu_superior {
 background-image: url(&quot;imagenes/fondo menu superior.png&quot;);
 position: absolute;
 left: 0px;
 top: -3px;
 width: 960px;
 height: 70px;
 z-index: 6;
}
" />

<div class="Inicio menu left">
<div class="menu"></div>
<h4><a href="../index.html">Inicio</a></h4>
</div>
<div class="QuienesSomos menu left">
<h2><a href="voluntariado.html" class="¿Quienes__Somos_ {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 255, 255, 255 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 319px;
 top: 37.705px;
 z-index: 14;
}
">¿Quienes <br/> Somos?</a></h2>
</div>
<div class="¿QueHacerporelPlaneta menu left">
<div class="¿Que__Hacer_por_el_Planeta_ {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 255, 255, 255 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 413px;
 top: 37.705px;
 z-index: 15;
}
"><h4><a href="">¿Que Hacer <br/>
 por el Planeta?</a></h4></div>
 
<div class="HistoriasyNoticias"><a href=""><h2 class="Historias_y_Noticias {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 255, 255, 255 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 541px;
 top: 37.705px;
 z-index: 16;
}
">Historias<br/>y Noticias</a></h2></div>

<div class="NuestraTierra menu left"><h2><a href="Especiesenpeligrocritico.html" class="Nuestra_Tierra {
 font-size: 12px;
 font-family: &quot;Arial&quot;;
 color: rgb( 254, 254, 254 );
 font-weight: bold;
 line-height: 1.5;
 text-align: center;
 position: absolute;
 left: 639px;
 top: 37.705px;
 z-index: 17;
}
">Nuestra<br/>Tierra</a></h2></div>

<a href="https://www.facebook.com/WWF?fref=tsf"><img src="imagenes/facebook_logo.png" alt="" class="facebook_logo {
 background-image: url(&quot;images/facebook logo.png&quot;);
 position: absolute;
 left: 897px;
 top: 23px;
 width: 27px;
 height: 27px;
 z-index: 7;
}" />

<img src="../imagenes/WWF_logo.svg.png" alt="" class="WWF_logo_svg {
 background-image: url(&quot;images/WWF_logo.svg&quot;);
 position: absolute;
 left: 40px;
 top: 0px;
 width: 91px;
 height: 122px;
 z-index: 10;
}
" />

<a href="http://instagram.com/wwf"><img src="imagenes/instagram-logo-png.png" alt="" class="instagram_logo_png {
 background-image: url(&quot;images/instagram-logo-png.png&quot;);
 position: absolute;
 left: 777px;
 top: 22px;
 width: 30px;
 height: 30px;
 z-index: 9;
}
"></a>

<a href="https://twitter.com/wwf"><img src="imagenes/Twitter_logo_blue.png" alt="" class="Twitter_logo_blue {
 background-image: url(&quot;imagenes/Twitter_logo_blue.png&quot;);
 position: absolute;
 left: 837px;
 top: 24px;
 width: 31px;
 height: 26px;
 z-index: 8;
}
" />
<h1 class="WWF_Voluntariado_Juvenil_y_el_Programa_de_Pasan {
 font-size: 24px;
 font-family: &quot;Arial&quot;;
 color: rgb( 31, 73, 160 );
 font-weight: bold;
 text-align: center;
 position: absolute;
 left: 573.14px;
 top: 678.41px;
 width: 343px;
 height: 51px;
 z-index: 3;
}
">WWF Voluntariado Juvenil y el Programa de Pasantías</h1>
<img src="../imagenes/SE_UN_VOLUNTARIO.png" alt="" class="SE_UN_VOLUNTARIO {
 background-image: url(&quot;imagenes/SE UN VOLUNTARIO.png&quot;);
 position: absolute;
 left: -2px;
 top: -24px;
 width: 964px;
 height: 645px;
 z-index: 5;
}

" />

<h6 class="Estas_entre_el_20_y_27_y_se_puede_financiar_sus {
 font-size: 14px;
 font-family: &quot;Arial&quot;;
 color: rgb( 0, 0, 0 );
 text-align: center;
 position: absolute;
 left: 543.271px;
 top: 759.517px;
 width: 380px;
 height: 232px;
 z-index: 4;
}
">Estas entre el 20 y 27 y se puede financiar sus propios gastos
Echa un vistazo a Programa mundial de Voluntariado Juvenil y prácticas de WWF ...</h6>

<h3 class="O__obtener_información_sobre_oportunidades_de_v {
 font-size: 14px;
 font-family: &quot;Arial&quot;;
 color: rgb( 0, 0, 0 );
 text-align: center;
 position: absolute;
 left: 543.258px;
 top: 827.986px;
 width: 369px;
 height: 31px;
 z-index: 6;
}
">O, obtener información sobre oportunidades de voluntariado de WWF / prácticas en su país o región:</h3>

<h3 class="Argentina___Australia______Canadá______China___ {
 font-size: 14px;
 font-family: &quot;Arial&quot;;
 color: rgb( 31, 73, 160 );
 text-align: center;
 position: absolute;
 left: 545.77px;
 top: 891.986px;
 width: 376px;
 height: 114px;
 z-index: 5;
}
">Argentina | Australia   |  Canadá   |  China,   | del Este y el sur de África |  Finlandia   |  Francia   | Alemania | Grecia | Hong Kong | Hungría   |  Italia   | India   | Indonesia   | Países Bajos | Nepal | Nueva Zelanda | Noruega   | Malasia  |  Paraguay   | Pakistán |  Filipinas   | Singapur | Sudáfrica   | Pacífico |  España | Suecia   | Suiza / Alemania   |  Suiza / Francés   | Tanzania |   EE.UU. | Emiratos Árabes Unidos | Vietnam</h3>

<div class="fotter"></div>
<div class="recuadro2"></div>
<div class="recuadro1"></div>
<div class="recuadro3"></div>
<div class="¿Quienes_somos_ menu left"> <h2>¿Quienes Somos?</h2> </div>
<div class= "Historia menu left"> <h2>Historia</h2> </div>
<div class= "Contatos menu left"> <h2>Contactos</h2> </div>

<div class="Que__hacer_por_el_Planeta"> <h2>¿Qué Hacer por el Planeta?</h2> </div>
<div class="Vida_verde"> <h2>Vida Verde</h2> </div>
<div class="Voluntariado"> <h2><a href="voluntariado.html">Voluntariado</a></h2> </div>
<div class="Donar_a_WWF"> <h2>Donar a WWF</h2> </div>

<div class="Historias__y_Noticias"> <h2>Historias y Noticias</h2> </div>
<div class="Historias"> <h2>Historias</h2> </div>
<div class="Noticias"> <h2>Noticias</h2> </div>
<div class="Videos"> <h2>Videos</h2> </div>
<div class="Nuestra_Tierra_"> <h2>Nuestra Tierra</h2>
</div>
<div class="Especies_en_peligro_critico"> <h2><a href="Especiesenpeligrocritico.html">Especies en Peligro Crítico</a></h2> </div>
<div class="Clima"> <h2>Clima</h2> </div>
<div class="Bosques"> <h2>Bosques</h2> </div>
<img src="../imagenes/fondo_menu_inferir.png" alt="" class="fondo_menu_inferi {
  background-image: url(&quot;imagenes/fondo menu inferir.png&quot;);
  position: absolute;
  left: -29px;
  top: 1078px;
  width: 1078px;
  height: 203px;
  z-index: 2;
}
 fondo_menu_inferir {
 background-image: url(&quot;imagenes/fondo menu inferir.png&quot;);
 position: absolute;
 left: -29px;
 top: 1078px;
 width: 1015px;
 height: 203px;
 z-index: 2;
}
" />

<iframe src="http://www.youtube.com/embed/5MJXOUCSZaw" width="480" height="360" frameborder="0" class="youtube left: 37px;
 top: 677px;
 width: 480px;
 height: 369px;" allowfullscreen></iframe>
</div>
</body>
</html>
